@model aspnet_crm.Data.Models.Category
@{
    ViewData["Title"] = "CategoryGet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="text-align:center">Update Category</h2>
<br />
@using (Html.BeginForm("CategoryUpdate", "Category", FormMethod.Post))
{
    @Html.LabelFor(x => x.CategoryID, new { style = "position:relative; left: 50px;" })
    @Html.TextBoxFor(x => x.CategoryID, new { @class = "form-control", style = "position:relative; left: 50px;" })
    @Html.ValidationMessageFor(x => x.CategoryID, "", new { @style = "color:red" })
    <br />
    @Html.LabelFor(x => x.CategoryName, new { style = "position:relative; left: 50px;" })
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control", style = "position:relative; left: 50px;" } )
    @Html.ValidationMessageFor(x => x.CategoryName, "", new { @style = "color:red" })
    <br />
    @Html.LabelFor(x => x.CategoryDescription, new { style = "position:relative; left: 50px;" })
    @Html.TextBoxFor(x => x.CategoryDescription, new { @class = "form-control", style = "position:relative; left: 50px;" })
    <br />
    <button class="btn btn-warning" style="position:relative; left: 50px;">Update</button>
}