@model aspnet_crm.Data.Models.Admin
@{
    ViewData["Title"] = "AddAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Add Admin</h2>
<br />
@using (Html.BeginForm("AddAdmin", "Admin", FormMethod.Post))
{
    @Html.Label("Admin Username")
    @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
    <br />
    @Html.Label("Password")
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
    <br />
    @Html.Label("Role")
    @Html.TextBoxFor(x => x.AdminRole, new { @class = "form-control" })
    <br />
    
    <button class="btn btn-primary">Save</button>
}
